
#autoconfig

Makefile
config.status

#Data files
*.csv
*.h5
Plots_Testfarm/
Rinder-Statistiken/
Statistiken_Cattle/



#build
build/*
lib/*
*.o
bvd_agent_simulation
*dSYM
*.pyc


#OS specific
*.DS_STORE

#test output
output_
/.vs
